.sectionFour{
    width:100%;
    height:52px;
    background:#414F6B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linkHolder{
    width:32%;
    height:100%;
    display: flex;
    justify-content: end;
   
    align-items: center;
    gap:30px;
}

.linkHolder a{
    text-decoration: none;
    color:#B0B4BE;
    border-bottom: 1px solid #B0B4BE;
    font-weight: 500;
    padding-bottom: 2px; font-size:2.2vw;
}

.linkHolder .active{
    background:#b0b4be;
    color:#414f6b;
    text-decoration: 1px solid #b0b4be;
    margin-bottom:2px;
}

@keyframes blinker {
    0% {background:#414F6B;color:#b0b4be;}
    50% {background:#b0b4be;color:#414F6B;}
    100% {background:#414F6B;color:#b0b4be;}
}

@keyframes oscilate {
    0% {margin-top:0px;}
    50% {margin-top:10px;}
    100% {margin-top:0px;}
}


.topButton{
    width:35px;
    height:35px;
    border-radius: 100%;
    outline: none;
    border: none;
    transform: translateX(-2vw);
    font-weight: 500;
    color:#414F6B;
    animation-name: blinker;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.topButton:hover{
    animation-name: oscilate;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
    animation-duration:2.5s;
    animation-iteration-count: infinite;
    background:#414F6B;
    color:#b0b4be;
}





@media screen and (min-width:320px) and (max-width:600px) {

    .linkHolder{
        width:40%;
    }
    .linkHolder a{
         
          font-size:3.2vw;
    }
}